@import "_vars.scss";
@import "reset.scss";
@import "layout.scss";
@import "material-icon.scss";

@import "globalComponentClasses.scss";
@import "globalLayoutClasses.scss";

@import "../src/components/App.scss";
@import "../src/components/Toolbar.scss";
@import "../src/components/Button.scss";
@import "../src/components/RectBox.scss";

._dla_{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $font-family;
  font-size: 14px;
}
