
$btn-color: #333;
$btn-color-disabled: #666;
$btn-color-active: map-get($color-blue, "400");
$btn-color-accent: map-get($color-pink, "400");

.dla__button {
  outline: none;
  border:none;
  background: transparent;
  color: $btn-color;
  position:relative;
  border-radius: 2px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  i{
    pointer-events: none;
    // margin-right: 3px;
  }
  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
  &.disabled{
    color: $btn-color-disabled;
    cursor: not-allowed;
  }
  &:not(.rounded){
    i{ margin-right: 3px; }
  }
}

.dla__rounded{
  border-radius: 50%;

  overflow: hidden;
  i{
    font-size: 16px;
    margin-top: 2px;
  }
}

.dla__raised{
  background-color: rgba(200,200,200,0.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.dla__colored{
  color: $btn-color-active;
}

.dla__accent{
  color: $btn-color-accent;
}

.dla__raised.dla__colored{
  background-color:  $btn-color-active;
  color: #fff;
  &:hover{
    background-color: darken($btn-color-active,5%);
  }
}

.dla__raised.dla__accent{
  background-color:  $btn-color-accent;
  color: #fff;
  &:hover{
    background-color: darken($btn-color-accent,5%);
  }
}

.dla__size_lg {
  padding: 5px 8px;
  font-size: 14px;
  :global(.material-icons) {
    font-size: 16px;
    top: 3px;
  }
}

.dla__size_md {

}

.dla__size_sm {
  &.rounded{
    width:25px;
    height: 25px;
  }
  padding: 2px 5px;
}

.dla__size_xs {
  &.rounded{
    width:20px;
    height: 20px;
  }
  padding: 2px 5px;
}

.dla__size_md {
  &.rounded{
    width:30px;
    height: 30px;
    padding: 0;
    >i{
      font-size: 20px;
    }
  }
  padding: 5px 10px;
}

.dla__size_xs {

}



